<div class="container">
  <div class="card text-center mx-auto" style="width: 500px;">
    <div class="card-body">
      <form [formGroup]="userForm" (ngSubmit)="register()">
        <div class="alert alert-danger" data-cy="emptyfields" *ngIf="message">{{ message }}</div>
        <input type="text" class="form-control" formControlName="email" data-cy="email" placeholder="E-mail" />
        <span class="help-block" *ngIf="userForm.get('email').errors">
          <span data-cy="emailreq" *ngIf="
              userForm.get('email').errors.required &&
              (userForm.get('email').touched || userForm.get('email').dirty)
            ">
            Email is required
          </span>
        </span>
        <br />
        <input type="password" class="form-control" data-cy="password" formControlName="password"
          placeholder="Password" />
        <span class="help-block" *ngIf="userForm.get('password').errors">
          <span data-cy="passwordreq" *ngIf="
              userForm.get('password').errors.required &&
              (userForm.get('password').touched ||
                userForm.get('password').dirty)
            ">
            Password is required
          </span>
        </span>
        <br />
        <input type="text" class="form-control" data-cy="First name" formControlName="firstName"
          placeholder="First Name" />
        <span class="help-block" *ngIf="userForm.get('firstName').errors">
          <span data-cy="firstnamereq" *ngIf="
              userForm.get('firstName').errors.required &&
              (userForm.get('firstName').touched ||
                userForm.get('firstName').dirty)
            ">
            First Name is required
          </span>
        </span>
        <br />
        <input type="text" class="form-control" data-cy="last name" formControlName="lastName"
          placeholder="Last Name" />
        <span class="help-block" *ngIf="userForm.get('lastName').errors">
          <span data-cy="lastnamereq" *ngIf="
              userForm.get('lastName').errors.required &&
              (userForm.get('lastName').touched ||
                userForm.get('lastName').dirty)
            ">
            Last Name is required
          </span>
        </span>
        <br />
        <button class="btn btn-primary btn-block login-button" type="submit" data-cy="register">
          register
        </button>

        <a routerLink="/login" class="float-right" data-cy="login">Login</a>
      </form>
    </div>
  </div>
</div>